@charset "utf-8";

// variables
$main-background-color: snow;
$accent-color: darkslateblue;
$hover-color: mediumslateblue;
$visited-color: slateblue;
$button-hover-color: green;
$success-color: lightgreen;
$warning-color: lightcoral;
$failure-color: red;
$letter-neutral-color: lightgreen;
$letter-neutral-border: black;
$item-height: 30px;
$item-width: 200px;

// mixins
@mixin status-style ($backgroundColor){
    background-color: $backgroundColor;
    margin: 0px 5px;
}

@mixin letter-style ($borderColor, $backgroundColor, $cursor){
    border: 2px solid $borderColor;
    background-color: $backgroundColor;
    display: inline-block;
    width: 45px;
    font-size: x-large;
    margin: 2px;
    cursor: $cursor;
}

/* HTML elements */
html{
    box-sizing: border-box;
    font-size: 18px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: $accent-color;
    vertical-align: middle;
}

h2, h3{
    font-family: 'Architects Daughter', cursive;
    color: $accent-color;
    margin-top: 0;
    margin-bottom: 0;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

h4{
    font-weight: bold;
}

p, ul{
    margin-top: 0;
}

header, footer{
    text-align: center;
}

footer{
    background-color: $accent-color;
    color: $main-background-color;
    width: 99.5%;
    padding-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

div, footer {
    border-radius: 15px;
}

li{
    margin-bottom: 5px;
}

a{
    color: $accent-color;
    text-decoration: none;
}

a:hover{
    color: $hover-color;
    text-decoration: underline;
}

a:visited{
    color: $visited-color;
}

button{
    margin-bottom:3px;
    padding:5px;
    border-radius:5px;
    font-weight: bold;
    height: $item-height;
    border: 1px solid;
    width: 120px;
}

.hover{
    border: 2px solid $button-hover-color;
    color: white;
    cursor: pointer;
}

button:hover{
    cursor: pointer;
    border: 2px solid $button-hover-color;
}

#gameHeader{
    background-color: lightgray;
    border: 2px solid $accent-color;
    border-radius: 15px; 
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: center;
}

#lettersDiv{
    flex-direction: row;
    text-align: center;
}

#wrapper{
    display: grid;
    justify-content: center;
    background-color: $main-background-color;
    max-width: 700px; 
    margin: 0 auto;
    padding: 15px;
}

#hangmanStatus{
    padding: 10px 10px 2px 10px;
    margin-bottom: 5px;
}

#hangmanGuessSoFar{
    font-size: xx-large;
}

/* Classes */
.centered{
    margin: 0 auto;
}

.border{
    border: 2px solid $accent-color;
}

.letterNeutral{
    @include letter-style($letter-neutral-border, $letter-neutral-color, pointer);
}

.letterNeutral:hover{
    background-color: white;
}

.letterDisabled{
    @include letter-style(black, lightslategray, not-allowed);
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-item {
    border: 2px solid $accent-color;
    margin: 2px;
    height: auto;
    overflow: hidden;
}

.flex-item-content{
    text-align: center;
}

.warning{
    @include status-style($warning-color);
}

.failure{
    @include status-style($failure-color);
}

.success{
    @include status-style($success-color);
}

.top{
    text-align: right;
    padding: 10px;
}

/* Media queries */
@media screen and (max-width: 600px){
    html{
        font-size: 14px;
    }

    h2{
        font-size: 25px;
    }
    h3{
        font-size: 15px;
    }
    h4{
        font-size: 14px;
    }
}

@media screen and (min-width: 700px){
    main{
        width: 700px;
    }
}

@media screen and (min-width: 1600px){
    .flex-container{
        max-width: 1000px;
    }
}